# Flask stuff:
instance/
.webassets-cache

#cash
__pycache__

# IPython
profile_default/
ipython_config.py

# Environments
.dev-venv/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#IDE files
.idea/
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json